<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h3>Campaign Info</h3>
            <form #form="ngForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input [(ngModel)]="Campaign.title" [app-debounce]="800" (onDebounce)="suggestion()" name="title"
                           id="title"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <quill-editor [(ngModel)]="Campaign.desc" [modules]="quillOption" name="desc"
                                  [placeholder]="placeholder"></quill-editor>
                </div>
                <div class="form-group">
                    <label for="uri">URL</label>
                    <div class="input-group"
                         [ngClass]="((!uri.available)||(uriVali.touched && !uriVali.valid))? 'has-error': ''">
                        <span data-toggle="dropdown" class="input-group-addon">{{url}}<i style="margin-left: 8px;"
                                                                                         class="fa fa-caret-down"
                                                                                         aria-hidden="true"></i></span>
                        <ul class="dropdown-menu">
                            <li *ngFor='let itemDm of arrDomains'><a (click)="setDomain(itemDm)"
                                                                     href="javascript:void(0)">{{itemDm.name}}</a>
                            </li>
                        </ul>
                        <input [(ngModel)]="Campaign.url" [app-debounce]="800" (onDebounce)="checkSuggestion()"
                               type="text" #uriVali="ngModel"
                               class="form-control" name="uri" id="uri" required>
                    </div>
                    <div [hidden]="uri.available && (uriVali.valid || uriVali.untouched)">
                                <span *ngIf="uriVali.errors && uriVali.errors.required"
                                      class="help-block alert-warning"><i class="fa fa-exclamation-triangle"
                                                                          aria-hidden="true"></i>
                                    Please select a uri!</span>
                        <span *ngIf="!uri.available"
                              class="help-block alert-warning"><i class="fa fa-exclamation-triangle"
                                                                  aria-hidden="true"></i>
                                    Uri duplicates!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Storefront</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Categories </label>
                    <div>
                        <select2 [data]="arrCategories" [options]="options"
                                 [value]="arrCatValue"
                                 (valueChanged)="categoriesSelect($event)"></select2>
                    </div>
                </div>
                <hr>
                <h4>Conversion tracking</h4>
                <div class="form-group">
                    <label>Facebook pixel for this campaign </label>
                    <input [(ngModel)]="Campaign.fb_pixel" name="fb_pixel" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Google pixel for this campaign </label>
                    <input [(ngModel)]="Campaign.gg_pixel" name="gg_pixel" type="text" class="form-control">
                </div>
                <hr>
                <h4>Visibility</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <span>Public campaigns will be visible on marketplace and searchable on the web.
                            Public
                            Private
                        </span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="btn-group">
                            <button type="button" (click)="setVisibility(false)"
                                    class="btn {{!Campaign.private? 'btn-primary': 'btn-default'}}">Public
                            </button>
                            <button type="button" (click)="setVisibility(true)"
                                    class="btn {{Campaign.private? 'btn-primary': 'btn-default'}}">Private
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5 text-center" style="position: relative;">
            <div id="drawingLaunching"></div>
            <div (click)="changeProduct()" class="change-product-button">
                <span>Change default product or side</span></div>
        </div>
    </div>
</div>