<div class="modal-dialog product-modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-sm-8 prod-list">
        <table class="table">
          <tbody>
          <tr *ngFor="let prod of campaign.products">
            <td style="width: 20%" (click)="changeColor($event,prod,prod.colors[0])">
              <div appProduct [product]="prod" [face]="(prod.base.image.back && prod.base.image.front) ? face : 'front'" [mainopt]="getOldOpt(prod)"></div>
            </td>
            <td style="width: 80%" class="middle" (click)="changeColor($event,prod,prod.colors[0])">
              <div class="colors">
                <div *ngFor='let itemColor of prod.colors' class="color">
                  <ni-color [color]="itemColor.value" (click)="changeColor($event,prod,itemColor)"></ni-color>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 text-center prod-view">
        <div appProduct [product]="product" [face]="(product.base.image.back && product.base.image.front) ? face : 'front'" [mainopt]="getOldOpt(product)" [color]="color"></div>
        <div class="text-center">
          <div class="btn-group visibility-btn" *ngIf="product.base.image.back && product.base.image.front">
            <button type="button" (click)="setFace('back')"
                    class="la-btn sm-bnt {{face==='back'? 'mask-btn': 'blank-btn'}}">{{ 'COMMON.BACK' | translate }}
            </button>
            <button type="button" (click)="setFace('front')"
                    class="la-btn sm-bnt {{face==='front'? 'mask-btn': 'blank-btn'}}">{{ 'COMMON.FRONT' | translate
              }}
            </button>
          </div>
           <div class="btn-group visibility-btn" *ngIf="!product.base.image.back && product.base.image.front">
            <button type="button" (click)="setFace('back')"
                    class="la-btn sm-bnt blank-btn" disabled>{{ 'COMMON.BACK' | translate }}
            </button>
            <button type="button" (click)="setFace('front')"
                    class="la-btn sm-bnt mask-btn">{{ 'COMMON.FRONT' | translate
              }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" (click)="mdClose()" class="la-btn sm-bnt blank-btn pull-right"
              data-dismiss="modal">Close
      </button>
      <button type="button" (click)="confirm()" class="la-btn sm-bnt mask-btn pull-right">Confirm</button>
    </div>
  </div>
</div>
