<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Pricing</h3>
        </div>
        <div class="col-sm-6 text-right">
            <p>Estimated total profit</p>
            <h3 *ngIf="total">${{total}}</h3>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 10%;">Product</th>
            <th style="width: 40%;"></th>
            <th>Base cost</th>
            <th>Sale price</th>
            <th>Expected sales</th>
            <th>Profit / Unit</th>
            <th>Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prod of Campaign.products">
            <td>
                <div>
                    <img alt="" src="{{getBaseImgUrl('front',prod.base.id)}}">
                </div>
            </td>
            <td class="middle">{{prod.base.name}}
                <div class="colors">
                    <div *ngFor='let itemColor of prod.colors' class="color">
                        <div class="e-color"
                             [ngStyle]="{ 'background-color': itemColor.value }">
                        </div>
                    </div>
                </div>
            </td>
            <td class="middle">${{prod.base.cost}}</td>
            <td class="middle">$<input title="price" (change)="caculater()" type="number" class="form-control"
                                       [(ngModel)]="prod.price"
                                       id="price" name="price"></td>
            <td class="middle">$<input title="sale expected" (change)="caculater()" type="number" class="form-control"
                                       [(ngModel)]="prod.sale_expected" id="sale_expected"
                                       name="sale_expected"></td>
            <td class="middle">${{prod.Profit}}</td>
            <td class="middle">${{prod.tProfit}}</td>
        </tr>
        </tbody>
    </table>
</div>