input {
  width: 80px;
  display: inline-block;
  margin-left: 10px;
}

.color {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.middle {
  vertical-align: middle;
}

.product-view {
  border: 1px solid #ddd;
  margin-right: 10px;
}
