<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="mdClose()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="panel panel-default produc-box">
                <div class="panel-body">
                    <span>{{oProduct.base.name}}</span>
                    <div class="row producs-list">
                        <div class="col-sm-4">
                            <div #backgroundBase id="backgroundBase"
                                 class="background-color"></div>
                            <img #imgBase id="imgBase" name="imgBase" alt=""
                                 src="{{getBaseImgUrl('front',oProduct.base.id)}}">
                        </div>
                        <div class="col-sm-8 prod-inf">
                            <div class="colors">
                                <div class="ColorPicker interactive">
                                    <div *ngFor='let itemColor of oProduct.base.colors' class="color">
                                        <div class="ui small circular label" (mouseover)="previewColor(itemColor.value)"
                                             (click)="selectColor(itemColor)"
                                             [ngStyle]="{ 'background-color': itemColor.value }"><span><i
                                                *ngIf="oProduct.colors.includes(itemColor)" class="fa fa-check"
                                                aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>