.tab-panel {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 4px solid #fa9918;
  font-weight: 600;
  text-align: center;
  color: #333333;
}

.nav-tabs > li > a {
  text-align: center;
  color: #6f6f6f;
}

.tab-content > .tab-pane {
  padding: 20px 0;
}

.layers {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}

.layers .layer {
  border: 1px solid #ddd;
  cursor: pointer;
}

.layers .layer:hover, .layers .active {
  border: 1px solid #fa9918;
}

.layers .layer span {
  display: inline-block;
  width: 90%;
}

.layers .layer img {
  border: 1px solid oldlace;
  margin-right: 4px;
  padding: 3px;
  max-width: 80px;
  height: 45px;
}

.layer-action {
  display: block;
  height: 45px;
  line-height: 45px;
}

.layer-action-item {
  margin: 5px;
  cursor: pointer;
  color: #d0011b;
  font-size: 32px;
}

.panel {
  border: none;
  box-shadow: none;
}

.producs-list {
  margin-top: 8px;
}

.produc-box {
  position: relative;
}

.produc-box .panel-body {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.produc-box .active, .produc-box .panel-body:hover {
  border: 1px solid #fa9918;
}

.producs-action-item {
  font-size: 32px;
  color: #d0011b;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 5px;
  top: -10px;
}

.product-selector ul {
  list-style: none;
  padding: 0;
}

.product-selector .item-options .item-option {
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

.product-selector .item-options .item-option:hover, .product-selector .item-options .item-option.active {
  border: 1px solid #fa9918;
}

.product-selector .item-options .item-option .item-name {
  padding: 6px;
  margin: 0;
  line-height: 2em;
  font-weight: 600;
}

.item-overview {
  display: inline-block;
  width: 100%;
}

.product-selector .item-options .item-option .item-thumb-container {
  float: left;
  margin-right: 5px;
  width: 50px;
}

.product-selector .item-options .item-option .item-thumb {
  height: 100%;
  width: 100%;
}

.product-colors {
  position: absolute;
  top: 0;
  left: -12px;
  z-index: 5;
  transform: translate(-100%, -15%);
  border: 1px solid #ddd;
  border-radius: 3px;
}

.product-colors:after {
  content: "";
  background: #fff url('../../assets/img/reg.png') no-repeat;
  width: 11px;
  height: 26px;
  position: absolute;
  right: -11px;
  top: 50%;
  margin-top: -20px;
}

.color-column {
  float: right;
  display: inline-block;
  margin: 4px;
}

.color-column li {
  margin-top: 3px;
}

.price-box {
  display: inline-block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
}

.price-box .price-des {
  padding: 6px;
}

.price-base {
  font-size: 32px;
  padding: 0 10px;
  margin: 5%;
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
  position: absolute;
  right: 40px;
}

.bttn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #fff;
}

.bttn {
  text-decoration: none;
}

.bttn:after {
  transition: 0.3s all ease;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 3px solid #fa9918;
}

.bttn:before {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: radial-gradient(100% 100% at center center, #fa9918, #fff) repeat scroll 0 0 #fa9918;
  z-index: -1;
}

.bttn:before:hover {
  background: radial-gradient(100% 100% at center center, #ffc715, #fff) repeat scroll 0 0 #ffc715;
}

.bttn:hover:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bttn:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bttn:active:before {
  background-color: #f1481b;
}

.bttn:active:after {
  border-color: #f1481b;
}

.modal-dialog {
  height: 95%;
  width: 70%;
}

.modal-content {
  height: 95%;
}

.modal-body {
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 75%;
}

.producs-base-item {
  border: 1px solid #ddd;
  margin-top: 15px;
  cursor: pointer;
}

.producs-base-item:hover {
  background-color: #1b6d85;
}

.producs-base-item img {
  width: 90%;
  margin: 10px;
}

.producs-base-item .produc-name {
  margin: 5px;
  margin-top: 15px;
}

.breadcrumb {
  background-color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}

.colors ni-color {
  margin-right: 5px;
}

ul.dropdown-subs {
  padding: 0;
}

ul.dropdown-subs li {
  list-style: none;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

ul.dropdown-subs li a {
  padding-left: 40px;
  font-family: Lato, Montserrat, serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  color: #333333;
}

ul.dropdown-subs li.active a {
  padding-left: 35px;
}

ul.dropdown-menu li.menu-group .item-group {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
