.product-selector {
    border-bottom: none;
    min-height: inherit;
}

.product-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-selector .item-options .item-option {
    padding: 10px 0 14px 9px;
    border: 1px solid transparent;
    border-left-color: #d8dddf;
    border-right-color: #d8dddf;
    cursor: pointer;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.product-selector .item-options.active {
    display: block;
}

.product-selector .item-options .item-option.active {
    border-color: #39ace6 !important;
    background-color: #e1f3fb;
}

.product-selector .item-options .item-option:first-child {
    border-top-color: #d8dddf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-selector .item-options .item-option:last-child {
    border-bottom-color: #d8dddf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-selector .item-options .item-option:hover {
    background: #f5f9ff;
}

.product-selector .item-options .item-option .item-name {
    margin: 0 0 .6em;
    line-height: 1em;
    font-family: Mr Eaves XL Modern, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .9rem;
    font-weight: 600;
}

.item-overview {
    margin-top: 4px;
    zoom: 1;
}

.product-selector .item-options .item-option.active .item-thumb-container {
    border: 1px solid #d8dae0;
}

.product-selector .item-options .item-option .item-thumb-loaded {
    opacity: 1;
}

.product-selector .item-options .item-option .item-thumb-container {
    float: left;
    margin-right: 5px;
    height: 35px;
    width: 30px;
    background: #444;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    text-align: center;
    border: 1px solid #fff;
}

.product-selector .item-options .item-option .item-thumb {
    height: 100%;
    width: 100%;
}

.product-selector .item-options .item-option .item-qualities {
    line-height: 1em;
    font-size: 12px;
    margin: 3px 0 0;
}

.sizes-label {
    font-size: 10px;
    margin: 2px 0 0;
    color: #5c6068;
}

.product-colors {
    position: absolute;
    top: 50%;
    left: -66px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

.product-colors .tool_tip__definition {
    display: inline-block;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: visible;
    padding: 8px;
    margin-top: 16px;
}

.product-colors .shirt-color-sample {
    display: block;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #d8dddf;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 0 0 5px 0;
    border-radius: 2px;
    cursor: pointer;
}

.bottom-margin {
    height: 70px;
    line-height: 70px;
}

.svg-surface {
    position: relative;
}

.layers {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.layers .layer {
    margin: 5px 0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.layers .layer:hover, .layers .active {
    margin: 5px 0;
    background-color: #e1f3fb;
    border: 1px solid #39ace6;
}

.layers .layer span {
    display: inline-block;
    width: 90%;
}

.layers .layer img {
    border: 1px solid oldlace;
    margin-right: 4px;
    padding: 3px;
    width: 80px;
    height: 45px;
}

.layer-action {
    display: block;
    height: 45px;
    line-height: 45px;
}

.layer-action-item {
    margin: 5px;
    cursor: pointer;
}

.layer-action-item:hover {
    color: red;
}


.add-product-button {
    cursor: pointer;
    padding: 15px 0;
    box-shadow: inset 0 0 0 1px #ff5f35;
    color: #ff5f35;
    opacity: 0.8;
}

.add-product-button:hover {
    opacity: 1;
}

.producs-list {

}

.producs-list img{
    height: 80px;
    float: left;
}

.producs-action-item {
    color: #000;
    opacity: 0.5;
    cursor: pointer;
}

.producs-action-item:hover {
    opacity: 1;
}

.prod-inf {
    display: inline-block;
    margin-top: 10px;
    height: 80px;
    line-height: 30px;
}

.colors {
    margin-top: .5rem;
}

.ColorPicker {
    margin-bottom: -.5em;
}

.ColorPicker .color {
    display: inline-block;
}

.ui.circular.label, .ui.circular.labels .label {
    min-width: 2em;
    min-height: 2em;
    padding: .5em!important;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
}

.ColorPicker.interactive .color>.ui.circular.label {
    cursor: pointer;
}

.ColorPicker .color>.ui.circular.label span {
    margin: 5px;
}

.add-color-icon {
    display: block;
    float: right;
    font-size: 25px;
    margin-left: 10px;
}