<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Img-Art</a></li>
                        <li><a data-toggle="tab" href="#menu1">Text</a></li>
                        <li><a data-toggle="tab" href="#menu2">Layers</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="text-center bottom-margin">
                                <form #form1="ngForm">
                                    <input [(ngModel)]="fDesign.file" #filePicker="ngModel" style="display: none;"
                                           type="file" id="filePicker" name="filePicker" class="form-control"
                                           (change)="handleFileSelect($event)">
                                    <label class="btn btn-danger" style='cursor: pointer' for="filePicker">
                                        Import Img
                                    </label>
                                </form>
                            </div>
                            <div class="text-center bottom-margin">
                                <button type="button" class="btn btn-danger"> Browse Art</button>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Text</h3>
                            <p>Developing</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <ul class="layers">
                                <li *ngFor='let itemNested of Product.getDesigns(Product.face)'
                                    class="layer {{selectItem && (itemNested.img.attr('id')==selectItem.attr('id'))? 'active': ''}}">
                                    <span (click)="selectLayer(itemNested.img)"><img alt=""
                                                                                     src="{{itemNested.img.src}}">{{itemNested.img.attr('id')}}</span>
                                    <div class="layer-action pull-right">
                                        <a class="layer-action-item" (click)="deleteLayer(itemNested.img)"
                                           title="Press `delete` on keyboard">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor='let productItem of Products.data; let i = index' class="panel panel-default produc-box">
                <div *ngIf="productItem.base&&productItem.base.id&&productItem.base.id!=''"
                     class="panel-body {{Product.base.id==productItem.base.id? 'active': ''}}">
                    <span (click)="selectProduct(i)">{{productItem.base.name}}</span>
                    <a (click)="deleteProduct(productItem.base.id)" class="producs-action-item pull-right"
                       title="delete">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="row producs-list">
                        <div class="col-sm-4" (click)="selectProduct(i)">
                            <img alt="" src="{{productItem.base.image.front}}">
                        </div>
                        <div class="col-sm-8 prod-inf">
                            <div class="colors">
                                <div class="ColorPicker interactive">
                                    <div class="color">
                                        <div class="ui small circular label" style="background-color:#111111;"><span>&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="color">
                                        <div class="ui small circular label" style="background-color:#b1202d;"><span>&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="color">
                                        <a class="add-color-icon"><i style="bottom: 0;position: absolute;"
                                                                     class="fa fa-plus-circle fa-2"
                                                                     aria-hidden="true"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-product-button text-center" (click)="addProduct()"><i class="fa fa-plus"
                                                                                  aria-hidden="true"></i>
                <span>Add product</span></div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="svg-surface text-center">
                    <div id="drawing"></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="btn-group">
                    <button type="button" (click)="setFace('front')"
                            class="btn {{Product.face==='front'? 'btn-primary': 'btn-default'}}">Front
                    </button>
                    <button type="button" (click)="setFace('back')"
                            class="btn {{Product.face==='back'? 'btn-primary': 'btn-default'}}">Back
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form #form="ngForm">
                        <div class="form-group">
                            <select [(ngModel)]="fDesign.sBaseType" (change)="selectBaseType()" class="form-control"
                                    id="sBaseType"
                                    name="sBaseType" title="Select base type" required>
                                <optgroup *ngFor='let itemGroup of arrBaseTypes' label="{{itemGroup.name}}">
                                    <option *ngFor='let item of itemGroup.base_types' value="{{item.id}}">
                                        {{item.name}}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </form>

                    <div class="product-selector">
                        <ul class="options item-options active nav">
                            <li *ngFor='let itemBase of arrBase'
                                class="item-option {{itemBase.id===Product.base.id? 'active': ''}}"
                                (click)="selectBase(itemBase.id)">
                                <p class="item-name">{{itemBase.name}}</p>
                                <div class="item-overview">
                                    <div class="item-thumb-container item-thumb-loaded">
                                        <img class="item-thumb" src="{{itemBase.image.front}}"></div>
                                    <p class="item-qualities">{{itemBase.desc}}</p>
                                    <div class="sizes-label">S – XL</div>
                                </div>
                                <div *ngIf="itemBase.id===Product.base.id" class="product-colors">
                                    <div class="tool_tip__container">
                                        <div class="tool_tip__definition">
                                            <ul class="color-column quick-colors">
                                                <li *ngFor='let itemColor of itemBase.colors'
                                                    (click)="setColor(itemColor.value)"
                                                    class="shirt-color-sample js-color"
                                                    title="{{itemColor.name}}"
                                                    [ngStyle]="{ 'background-color': itemColor.value }"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>