<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="mdClose()">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" #form1="ngForm">
                <div class="box-body">
                    <div *ngFor='let itemGroup of arrBaseTypes' class="panel panel-default">
                        <div class="panel-heading">{{itemGroup.name}}</div>
                        <div class="panel-body">
                            <div *ngFor='let item of itemGroup.base_types' class="col-sm-3 text-center">
                                <div class="producs-base-item">
                                    <div class="produc-name">
                                        {{item.name}}
                                    </div>
                                    <div class="ui fluid image"><img
                                            src="http://cdn.30usd.com/images/-qvEwT0PXlJX4viQ_front.png">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>